body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  background-color: #EEEEEE;
}

main, header {
    max-width: 1200px;
    margin: auto;
}
/* header layout */
header {
    background-color: #282828;
    color: whitesmoke;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 25px;
    gap: 15px;
    margin: 0;
    align-items: center;
}

.icon {
    width: 25px;

}

/* align icon to the right side of the header */
.align-right {         
    margin-left: auto; 
}

/* body layout */
h1 {
    font-size: 40px;
    margin: 30px 25px;
    font-weight: 700;
}

.item-img {
    width: 100%;
    display: block;
}

.item {
    position: relative;
}

.caption {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    gap: 20px;
}

.img-banner {
    background-color: #cd6858;
    position: absolute;
    padding: 10px;
    color: whitesmoke;
    top: 0;
    left: 0;
    cursor: pointer;
}

.img-banner:hover {
    background-color: #b04e45;
    transition: background-color 1.3s ease;
}

/* button layout */
button {
    background-color: #FA8112;
    border: none;
    color: #000000;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    margin: auto 0;
    border-radius: 5px;
    transition: background-color 1.3s ease;

}
button:hover {
    background-color: #b04e45;
    transition: background-color 1.3s;
}

/* chatbox layout */
.chatbox-bg {
    background-color: #dda15e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    position:fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    transition:transform 5s ease;
    
}
.chatbox-img {
    bottom: 20px;
    right: 60px;
    width: 50%;
    cursor: pointer;
    margin: auto;
}

.chatbox-bg:hover {
    background-color: tomato;
    transform: scale(1.3);
    transition: transform 1.2s;

}

/* footer layout */
footer {
    text-align: center;
    padding: 20px;
    background-color: #282828;
    color: whitesmoke;
    margin-top: 40px;
}

.social-icon {
    width: 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: transform 4.7s ease;
}

.social-icon:hover {
    transition: transform 1s;
    transform: scale(1.5);
}

.footer-social {
    display: inline-block
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}